#titulo{
    text-align: center; 
    color: rgb(5, 127, 96);

}


#sub{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#ala{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#lang{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#alar{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#bah{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}

#ba{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#bahh{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}


#bahhh{

    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}

#la{
    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;

}

#laa{

    font-weight: bolder;
    color: rgb(5, 127, 96);
    text-align: center;
}